<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.BoardMapper">
	<resultMap type="com.example.demo.board.Board" id="board">
		<result property="num" column="num"/>
		<result property="type" column="type"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.example.demo.board.Board">
		insert into board(type, writer, title, content, regdate, updatedate) values(#{type}, #{writer},	#{title}, #{content}, now(), now())
	</insert>
	
	<select id="select" resultMap="board" parameterType="int">
		select * from board where num=#{num}
	</select>
	
	<select id="selectByType" resultMap="board" parameterType="String">
		select * from board where type=#{type} order by num
	</select>

	<delete id="delete" parameterType="int">
		delete board where num=#{num}
	</delete>
	
	<update id="update" parameterType="com.example.demo.board.Board">
		update board set  title=#{title}, content=#{content} where num=#{num}
	</update>

	<select id="countAll" resultType="int" >
		select count(*) from board where type=#{type} AND title LIKE concat('%', #{keyword},'%')
	</select>

	<!-- 오라클 페이징-->
<!--	<select id="getListWithPaging" resultMap="board" parameterType="java.util.HashMap">
		<![CDATA[SELECT B.num, B.title, B.writer, B.updatedate
		FROM(
			 SELECT ROWNUM as rn, A.num, A.title, A.writer, A.updatedate 
  			 FROM (
     			   SELECT * FROM board 
     			   WHERE type=#{type} AND title LIKE '%'||#{cri.keyword}||'%' ORDER BY num DESC) A 
     			   
   			  WHERE rownum <=#{cri.pageNum} * #{cri.amount}) B 
		WHERE rn>(#{cri.pageNum}-1) * #{cri.amount}]]>
	</select>(#{cri.pageNum}-1) * #{cri.amount}-->

	<select id="getListWithPaging" resultMap="board" parameterType="java.util.HashMap">
		SELECT *
		FROM board
		WHERE type=#{type} AND title LIKE concat('%', #{cri.keyword},'%')
		order by num desc
		LIMIT #{cri.offset}, #{cri.amount}
	</select>

	<select id="getListWithPagingCursor" resultMap="board" parameterType="java.util.HashMap">
		SELECT * FROM board
			WHERE type=#{type}
			AND title LIKE concat('%', #{cri.keyword},'%')
			<if test= "cri.cursorId != null">
		<![CDATA[AND num < #{cri.cursorId}]]>
			</if>
			order by num desc
			LIMIT #{cri.amount}
	</select>
</mapper>
