<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.pquestion.PquestionMapper">
<resultMap type="com.example.demo.pquestion.Pquestion" id="pquestion">
	<result column="num" property="num" />
	<result column="pnum" property="pnum" />
	<result column="writer" property="writer" />
	<result column="content" property="content" />
	<result property="state" column="state"/>
	<result property="updatedate" column="updatedate"/>
	<result column="p_date" property="p_date" />
</resultMap>

<insert id="insert" parameterType="com.example.demo.pquestion.Pquestion">
insert into pquestion values(seq_pquestion.NEXTVAL, #{pnum}, #{writer}, #{content},#{state}, sysdate,  sysdate)
</insert>

<select id="select" resultMap="pquestion" parameterType="int">
		select * from pquestion where num=#{num} order by num
	</select>
	
<select id="selectByDate" resultMap="pquestion" parameterType="int">
		SELECT * FROM pquestion WHERE pnum=#{pnum} ORDER BY p_date
	</select>
		
<select id="selectAll" resultMap="pquestion" parameterType="String">
		select * from pquestion order by num
	</select>
	
<update id="update" parameterType="com.example.demo.pquestion.Pquestion">
		UPDATE pquestion SET content=#{content}, updatedate=sysdate WHERE num=#{pnum}
	</update>
	
<delete id="delete" parameterType="int">
		delete pquestion WHERE num=#{num}	
	</delete>
	
	<update id="updateState" parameterType="java.util.HashMap">
		update pquestion set state=#{state} where num=#{pqnum}
	</update>
	
	
	<select id="getNum" resultType="int">
		select seq_qna.nextval from dual
	</select>

<select id="selectByPnum" resultMap="pquestion" parameterType="int">
		SELECT * FROM pquestion WHERE pnum=#{pnum} ORDER BY num
	</select>

<select id="selectByWriter" resultMap="pquestion" parameterType="String">
		select * from pquestion where writer=#{writer} order by num
	</select>
	
</mapper>

