<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.reply.RepMapper">
	<resultMap type="com.example.demo.reply.Reply" id="rep">
		<result property="num" column="num"/>
		<result property="qna_num" column="qna_num"/>
		<result property="writer" column="writer"/>
		<result property="content" column="content"/>
		<result property="r_date" column="r_date"/>
	</resultMap>
	
	<select id="getReplyById" parameterType="String" resultMap="rep">
	SELECT * FROM reply WHERE writer=#{writer}
	</select>
	
	<select id="getReplyByQnaNum" parameterType="int" resultMap="rep">
	SELECT * FROM reply WHERE qna_num=#{qna_num} order by num
	</select>
	
	<insert id="insert" parameterType="com.example.demo.reply.Reply">
		insert into reply(num, qna_num, writer, content, r_date) values(seq_reply.nextval, #{qna_num}, #{writer}, #{content}, sysdate)
	</insert>
	
	<select id="select" resultMap="rep" parameterType="int">
		select * from reply where num=#{num}
	</select>

	<delete id="delete" parameterType="int">
		delete reply where num=#{num}
	</delete>
	
	<update id="update" parameterType="com.example.demo.reply.Reply">
		update reply set content=#{content} where num=#{num}
	</update>

</mapper>
